@model CoffeeChat.Models.AppUser
@using CoffeeChat.Helpers

@{
    ViewData["Title"] = "Home Page";
    //var url = "icons8-bear-48.png";
}

@if (User.Identity.IsAuthenticated)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="text-center mt-4">
    <img src="~/images/coffee-cup.png" width="200" height="200" />
    <h1 class="display-4"><span class="text-warning font-weight-bold">Coffee</span>Chat</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <h4>Let's start a new conversation!</h4>
        <div class="btn-group mt-3">
            <a class="btn btn-lg btn-warning" asp-controller="Account" asp-action="Register">Register</a>
            <a class="btn btn-lg btn-secondary" asp-controller="Account" asp-action="Login">Login</a>
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
            <div class="d-flex mt-3">
                <ul class="list-unstyled list-group mx-auto">
                    <li class="list-group-item">
                        <img src="~/images/avatars/@EnumHelper.GetAvatarUrl(Model.Avatar.ToString())" height="48" width="48" />
                    </li>
                    <li class="list-group-item">
                        <h4>Logged User: @Model.UserName</h4>
                    </li>
                </ul>
            </div>

    }
</div>
