@model IEnumerable<CoffeeChat.Models.Message>
@using CoffeeChat.Helpers

@{
    ViewData["Title"] = "Home Page";
    var user = ViewBag.LoggedUser;
}

@if (User.Identity.IsAuthenticated)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="text-center mt-2">
    @if (!User.Identity.IsAuthenticated)
    {
        <img src="~/images/coffee-cup.png" width="200" height="200" />
        <h1 class="display-4"><span class="text-warning font-weight-bold">Coffee</span>Chat</h1>
        <h4>Let's start a new conversation!</h4>
        <div class="btn-group mt-3">
            <a class="btn btn-lg btn-warning" asp-controller="Account" asp-action="Register">Register</a>
            <a class="btn btn-lg btn-secondary" asp-controller="Account" asp-action="Login">Login</a>
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div class="d-flex mt-3">
            <h3># main channel</h3>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-10" style="height: 300px; margin-bottom: 10px; overflow: scroll; overflow-x:hidden;">
                    <ul id="messagesList" class="list-unstyled"></ul>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group form-inline">
                        <img src="~/images/avatars/@EnumHelper.GetAvatarUrl(user.Avatar.ToString())" height="48" width="48" /><span class="h3 mr-2">@user.UserName</span>
                        <input type="text" class="form-control input-lg col-8" id="messageInput" />
                        <input type="submit" value="Send" id="sendButton" class="btn btn-success form-control" />
                    </div>
                </div>
            </div>
        </div>

        @section scripts {
            <script src="~/js/signalr/dist/browser/signalr.js"></script>
            <script src="~/js/chat.js"></script>
        }
    }
</div>
