@{
    ViewData["Title"] = "Home Page";
}

@if(User.Identity.IsAuthenticated)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Home.cshtml";
}

    <div class="text-center mt-4">
        <img src="~/images/coffee-cup.png" width="200" height="200" />
        <h1 class="display-4"><span class="text-warning font-weight-bold">Coffee</span>Chat</h1>
        @if (!User.Identity.IsAuthenticated)
        {
            <h4>Let's start a new conversation!</h4>
            <div class="btn-group mt-3">
                <a class="btn btn-lg btn-warning" asp-controller="Account" asp-action="Register">Register</a>
                <a class="btn btn-lg btn-secondary" asp-controller="Account" asp-action="Login">Login</a>
            </div>
        }

    </div>
